/*----- IMPORTS ---- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Ubuntu:wght@300&display=swap');
/* -----styles---- */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}
main{
    scroll-behavior: smooth;
}
a{
    color: rgb(200,200,200);
}
a[active]{
    color: white;
    transition: color 0.2s ease-in-out;
}
button{
    background-color:red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid red;
    height: 40px;
}
.add , .left , .right{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.add{
    opacity: 0.7;
    background-color: rgba(255, 0, 0, 0.2);
    border-color: 2px solid rgba(255, 0, 0, 0.3);
    font-size: 23px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    width:35px;
    height: 35px;
}
.btn-l{
    border-radius: 7px;
}
.back{
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius:7px;
    font-weight: bold;
}
.feather{
    height: 16px;
}
main::-webkit-scrollbar-thumb{
    background-color: blue;
    width: 2px;
}
@media(hover: hover){
    button:hover{
        opacity: 1;
    }
    a:hover{
        color: white;
    }
}
::selection{
    background-color: red;
}
/* utility classes  */
.m15{
    margin-top: 15px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}
#op1{
    opacity: 1;
    font-weight: bold;
}